/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #1d1d1d !important;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #f44336;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#main-cta {
  color: #ffffff !important;
}

#main-cta:hover {
  background-color: #ff8a80 !important;
}

#second-cta:hover {
  background-color: #ff1744 !important;
}

#sidenav-cta {
  color: #ffffff !important;
}

/* Modal Form */
#radio-email-label {
  margin-top: 1em;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=tel]:focus {
  border-bottom: 1px solid #4a148c !important;
  box-shadow: 0 1px 0 0 #4a148c !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #4a148c !important;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #4a148c !important;
  border: none !important;
}

#modal-form p,
#modal-form h4 {
  text-align: center;
}

#preferred-method p {
  text-align: left;
}

#signup {
  color: #ff1744;
}

#signup:hover {
  background-color: #ff1744;
  color: #ffffff;
}

#index-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-weight: 600;
}

#quote {
  font-weight: 400;
}

#quote-author {
  font-weight: 100;
  font-style: italic;
}

/* footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 1em;
  width: 14em;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin-top: 0 !important;
}

#third-cta {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  margin-top: 1em;
}

#third-cta:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.contact-icon {
  padding-left: 1em;
  vertical-align: top;
}
